<a href="https://colab.research.google.com/github/DonnaVakalis/Livability/blob/master/Gapminder1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Gapminder exploration

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

Which measures of quality of life, if any, are generally correlated with economic equality, as measured by the GINI metric?  
e.g., traffice deaths, ... cellphones.... air quality...minimum wage?

In [3]:
# Install pycountry
!pip install pycountry

# Imports 
import pandas as pd
import matplotlib.pyplot as plt
import os
from google.colab import drive
import pycountry
from functools import reduce #for merging dataframes

# Settings
%matplotlib inline 
pd.options.display.float_format = '{:,.2f}'.format # display numbers with two decimal places

Requirement already satisfied: pycountry in /usr/local/lib/python3.6/dist-packages (20.7.3)

In [ ]:
# Mount Google Drive

drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### LOAD DATA

In [ ]:
# Load the data

base_dir = "/content/gdrive/My Drive/Colab Notebooks/project_gapminder/"

# 1. Read GINI --> CSV format
file = base_dir + 'gini.csv' # from https://www.gapminder.org/data/
df_gini = pd.read_csv(file)
df_gini.head()

# 2. Read Income per Person --> CSV format
file = base_dir + 'income_per_person_gdppercapita_ppp_inflation_adjusted.csv'  # from https://www.gapminder.org/data/
df_incm = pd.read_csv(file)
df_incm.head()

# 3. Read CO2 emissions --> CSV format
file = base_dir + 'co2_emissions_tonnes_per_person.csv' # from https://www.gapminder.org/data/
df_crbn = pd.read_csv(file)
df_crbn.head()

# 4. Read Cellphone per 100 people --> CSV format 
file = base_dir + 'cell_phones_per_100_people.csv' # from https://www.gapminder.org/data/
df_phon= pd.read_csv(file)
df_phon.head()

       country  1960  1961  1962  1963  ...   2014   2015   2016   2017   2018
0  Afghanistan   0.0   NaN   NaN   NaN  ...   55.2   57.3   61.1   65.9   59.1
1      Albania   0.0   NaN   NaN   NaN  ...  116.0  118.0  117.0  126.0   94.2
2      Algeria   0.0   NaN   NaN   NaN  ...  111.0  109.0  116.0  111.0  112.0
3      Andorra   0.0   NaN   NaN   NaN  ...   83.6   91.4   98.5  104.0  107.0
4       Angola   0.0   NaN   NaN   NaN  ...   52.2   49.8   45.1   44.7   43.1

[5 rows x 60 columns]

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_gini.info()
df_gini

comments about df_gini:
- many more years than other datasets
- consider limiting scope of question to "last 20 years"

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_incm.info()
df_incm

comments about df_incm:
- same countries as above, making comparison easier

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_crbn.info()
df_crbn

comments about df_crbn:
- most recent year is 2014, so limit question to 2014 for all

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_phon.info()
df_phon

comments about df_phon
- up to 2018

 
### Data Cleaning

Merging variables into one large dataframe by country, truncating to years of interest (1996-2014), Getting 3-letter country codes

In [ ]:
# Truncate and Merge dataframes by country
data_frames = [df_gini, df_incm, df_crbn, df_phon]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['country'],
                                            how='outer'), data_frames)

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:1097: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

In [ ]:
df_merged

                  country_x  1800_x  1801_x  1802_x  ...   2015   2016   2017   2018
0               Afghanistan    30.5    30.5    30.5  ...    NaN    NaN    NaN    NaN
1                   Albania    38.9    38.9    38.9  ...    NaN    NaN    NaN    NaN
2    Bosnia and Herzegovina    30.0    30.0    30.0  ...    NaN    NaN    NaN    NaN
3                Montenegro    30.2    30.2    30.2  ...    NaN    NaN    NaN    NaN
4                   Algeria    56.2    56.2    56.2  ...    NaN    NaN    NaN    NaN
..                      ...     ...     ...     ...  ...    ...    ...    ...    ...
765                     NaN     NaN     NaN     NaN  ...   70.4   74.0   75.9   71.5
766                     NaN     NaN     NaN     NaN  ...   64.5   78.5   79.9   85.9
767                     NaN     NaN     NaN     NaN  ...   96.7   92.5   83.3   71.8
768                     NaN     NaN     NaN     NaN  ...  130.0  129.0  127.0  147.0
769                     NaN     NaN     NaN     NaN  ...   72.8   73.4   79.7   89.2

[770 rows x 757 columns]

In [ ]:
# Get 3-letter country codes 

list_countries = df_mw['country_name'].unique().tolist()
# print(list_countries) # Uncomment to see list of countries
d_country_code = {}  # To hold the country names and their ISO
for country in list_countries:
    try:
        country_data = pycountry.countries.search_fuzzy(country)
        # country_data is a list of objects of class pycountry.db.Country
        # The first item  ie at index 0 of list is best fit
        # object of class Country have an alpha_3 attribute
        country_code = country_data[0].alpha_3
        d_country_code.update({country: country_code})
    except:
        print('could not add ISO 3 code for ->', country)
        # If could not find country, make ISO code ' '
        d_country_code.update({country: ' '})
        
 # create a new column iso_alpha in the df
# and fill it with appropriate iso 3 code
for k, v in d_country_code.items():
    df_mw.loc[(df_mw.country_name == k), 'iso_alpha'] = v

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])