<a href="https://colab.research.google.com/github/DonnaVakalis/Livability/blob/master/Gapminder1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Which other metrics track the GINI coefficient, using data from Gapminder?

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

Questions posed:
For the most recent year with data available, were other measures of "quality of life" (such as air quality, minimum wage etc.) correlated with economic equality as measured by the GINI metric? 

Datasets:  inidividual datasets for traffice deaths, cellphones, air quality and minimum wage downloaded from https://www.gapminder.org/data/

<a id='wrangling'></a>
## Data Wrangling


### LOAD DATA

In [1]:
# Install pycountry
!pip install pycountry

# Imports 
import pandas as pd
import matplotlib.pyplot as plt
import os
from google.colab import drive
import pycountry
from functools import reduce #for merging dataframes

# Settings
%matplotlib inline 
pd.options.display.float_format = '{:,.2f}'.format # display numbers with two decimal places

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/76/73/6f1a412f14f68c273feea29a6ea9b9f1e268177d32e0e69ad6790d306312/pycountry-20.7.3.tar.gz (10.1MB)
     |████████████████████████████████| 10.1MB 5.8MB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746863 sha256=9b449a51c32d84cdb8c02306af248e20d8a04d81027007b1434bc974c0ef39ae
  Stored in directory: /root/.cache/pip/wheels/33/4e/a6/be297e6b83567e537bed9df4a93f8590ec01c1acfbcd405348
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-20.7.3

In [2]:
# Mount Google Drive

drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
# Load the data

base_dir = "/content/gdrive/My Drive/Colab Notebooks/project_gapminder/"

# 1. Read GINI --> CSV format
file = base_dir + 'gini.csv' # from https://www.gapminder.org/data/
df_gini = pd.read_csv(file)
df_gini.head()

       country  1800  1801  1802  1803  ...  2036  2037  2038  2039  2040
0  Afghanistan 30.50 30.50 30.50 30.50  ... 36.80 36.80 36.80 36.80 36.80
1      Albania 38.90 38.90 38.90 38.90  ... 29.00 29.00 29.00 29.00 29.00
2      Algeria 56.20 56.20 56.20 56.20  ... 27.60 27.60 27.60 27.60 27.60
3      Andorra 40.00 40.00 40.00 40.00  ... 40.00 40.00 40.00 40.00 40.00
4       Angola 57.20 57.20 57.20 57.20  ... 42.60 42.60 42.60 42.60 42.60

[5 rows x 242 columns]

In [4]:
# 2. Read Income per Person --> CSV format
file = base_dir + 'income_per_person_gdppercapita_ppp_inflation_adjusted.csv'  # from https://www.gapminder.org/data/
df_incm = pd.read_csv(file)
df_incm.head()

       country  1800  1801  1802  1803  ...   2036   2037   2038   2039   2040
0  Afghanistan   603   603   603   603  ...   2820   2880   2940   3000   3060
1      Albania   667   667   667   667  ...  21500  21900  22300  22800  23300
2      Algeria   715   716   717   718  ...  15800  16100  16500  16800  17100
3      Andorra  1200  1200  1200  1200  ...  81500  83100  84800  86500  88300
4       Angola   618   620   623   626  ...   6750   6880   7020   7170   7310

[5 rows x 242 columns]

In [5]:
# 3. Read CO2 emissions --> CSV format
file = base_dir + 'co2_emissions_tonnes_per_person.csv' # from https://www.gapminder.org/data/
df_crbn = pd.read_csv(file)
df_crbn.head()

       country  1800  1801  1802  1803  ...  2010  2011  2012  2013  2014
0  Afghanistan   nan   nan   nan   nan  ...  0.29  0.41  0.34  0.31  0.29
1      Albania   nan   nan   nan   nan  ...  1.56  1.79  1.68  1.74  1.97
2      Algeria   nan   nan   nan   nan  ...  3.31  3.31  3.48  3.53  3.74
3      Andorra   nan   nan   nan   nan  ...  6.12  5.87  5.92  5.90  5.83
4       Angola   nan   nan   nan   nan  ...  1.24  1.25  1.33  1.25  1.29

[5 rows x 216 columns]

In [6]:
# 4. Read Cellphone per 100 people --> CSV format 
file = base_dir + 'cell_phones_per_100_people.csv' # from https://www.gapminder.org/data/
df_phon= pd.read_csv(file)
df_phon.head()

       country  1960  1961  1962  1963  ...   2014   2015   2016   2017   2018
0  Afghanistan  0.00   nan   nan   nan  ...  55.20  57.30  61.10  65.90  59.10
1      Albania  0.00   nan   nan   nan  ... 116.00 118.00 117.00 126.00  94.20
2      Algeria  0.00   nan   nan   nan  ... 111.00 109.00 116.00 111.00 112.00
3      Andorra  0.00   nan   nan   nan  ...  83.60  91.40  98.50 104.00 107.00
4       Angola  0.00   nan   nan   nan  ...  52.20  49.80  45.10  44.70  43.10

[5 rows x 60 columns]

In [7]:
# types and look for shape, types and instances of missing or possibly errant data 
df_gini.info()
df_gini

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 242 entries, country to 2040
dtypes: float64(241), object(1)
memory usage: 368.8+ KB

         country  1800  1801  1802  1803  ...  2036  2037  2038  2039  2040
0    Afghanistan 30.50 30.50 30.50 30.50  ... 36.80 36.80 36.80 36.80 36.80
1        Albania 38.90 38.90 38.90 38.90  ... 29.00 29.00 29.00 29.00 29.00
2        Algeria 56.20 56.20 56.20 56.20  ... 27.60 27.60 27.60 27.60 27.60
3        Andorra 40.00 40.00 40.00 40.00  ... 40.00 40.00 40.00 40.00 40.00
4         Angola 57.20 57.20 57.20 57.20  ... 42.60 42.60 42.60 42.60 42.60
..           ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
190    Venezuela 62.80 62.80 62.80 62.80  ... 46.90 46.90 46.90 46.90 46.90
191      Vietnam 34.20 34.20 34.20 34.20  ... 35.30 35.30 35.30 35.30 35.30
192        Yemen 50.10 50.10 50.10 50.10  ... 36.70 36.70 36.70 36.70 36.70
193       Zambia 54.50 54.50 54.50 54.50  ... 57.10 57.10 57.10 57.10 57.10
194     Zimbabwe 27.50 27.50 27.50 27.50  ... 43.20 43.20 43.20 43.20 43.20

[195 rows x 242 columns]

comments about df_gini:
- many more years than other datasets
- consider limiting scope of question to "last 20 years"

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_incm.info()
df_incm

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Columns: 242 entries, country to 2040
dtypes: int64(241), object(1)
memory usage: 365.0+ KB

         country  1800  1801  1802  1803  ...   2036   2037   2038   2039   2040
0    Afghanistan   603   603   603   603  ...   2820   2880   2940   3000   3060
1        Albania   667   667   667   667  ...  21500  21900  22300  22800  23300
2        Algeria   715   716   717   718  ...  15800  16100  16500  16800  17100
3        Andorra  1200  1200  1200  1200  ...  81500  83100  84800  86500  88300
4         Angola   618   620   623   626  ...   6750   6880   7020   7170   7310
..           ...   ...   ...   ...   ...  ...    ...    ...    ...    ...    ...
188    Venezuela  1210  1200  1200  1190  ...   9110   9300   9490   9680   9880
189      Vietnam   778   778   778   778  ...  13300  13500  13800  14100  14400
190        Yemen   877   879   882   884  ...   3570   3640   3720   3790   3870
191       Zambia   663   665   667   668  ...   3860   3930   4010   4100   4180
192     Zimbabwe   869   870   871   872  ...   2900   2960   3020   3080   3140

[193 rows x 242 columns]

comments about df_incm:
- same countries as above, making comparison easier

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_crbn.info()
df_crbn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Columns: 216 entries, country to 2014
dtypes: float64(215), object(1)
memory usage: 324.1+ KB

         country  1800  1801  1802  1803  ...  2010  2011  2012  2013  2014
0    Afghanistan   nan   nan   nan   nan  ...  0.29  0.41  0.34  0.31  0.29
1        Albania   nan   nan   nan   nan  ...  1.56  1.79  1.68  1.74  1.97
2        Algeria   nan   nan   nan   nan  ...  3.31  3.31  3.48  3.53  3.74
3        Andorra   nan   nan   nan   nan  ...  6.12  5.87  5.92  5.90  5.83
4         Angola   nan   nan   nan   nan  ...  1.24  1.25  1.33  1.25  1.29
..           ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
187    Venezuela   nan   nan   nan   nan  ...  6.65  6.12  6.77  6.18  6.17
188      Vietnam   nan   nan   nan   nan  ...  1.62  1.71  1.58  1.62  1.82
189        Yemen   nan   nan   nan   nan  ...  1.01  0.83  0.76  1.01  0.88
190       Zambia   nan   nan   nan   nan  ...  0.20  0.21  0.25  0.27  0.29
191     Zimbabwe   nan   nan   nan   nan  ...  0.61  0.74  0.59  0.88  0.89

[192 rows x 216 columns]

comments about df_crbn:
- most recent year is 2014, so limit question to 2014 for all

In [ ]:
# types and look for shape, types and instances of missing or possibly errant data 
df_phon.info()
df_phon

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 60 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  194 non-null    object
 1   1960     183 non-null    float64
 2   1961     0 non-null      float64
 3   1962     0 non-null      float64
 4   1963     0 non-null      float64
 5   1964     0 non-null      float64
 6   1965     183 non-null    float64
 7   1966     0 non-null      float64
 8   1967     0 non-null      float64
 9   1968     0 non-null      float64
 10  1969     0 non-null      float64
 11  1970     183 non-null    float64
 12  1971     0 non-null      float64
 13  1972     0 non-null      float64
 14  1973     0 non-null      float64
 15  1974     0 non-null      float64
 16  1975     183 non-null    float64
 17  1976     183 non-null    float64
 18  1977     183 non-null    float64
 19  1978     183 non-null    float64
 20  1979     183 non-null    float64
 21  1980     183 non-null    float64
 22  1981     182 non-null    float64
 23  1982     182 non-null    float64
 24  1983     181 non-null    float64
 25  1984     179 non-null    float64
 26  1985     178 non-null    float64
 27  1986     181 non-null    float64
 28  1987     181 non-null    float64
 29  1988     182 non-null    float64
 30  1989     180 non-null    float64
 31  1990     190 non-null    float64
 32  1991     182 non-null    float64
 33  1992     184 non-null    float64
 34  1993     184 non-null    float64
 35  1994     184 non-null    float64
 36  1995     185 non-null    float64
 37  1996     187 non-null    float64
 38  1997     186 non-null    float64
 39  1998     188 non-null    float64
 40  1999     188 non-null    float64
 41  2000     189 non-null    float64
 42  2001     189 non-null    float64
 43  2002     189 non-null    float64
 44  2003     190 non-null    float64
 45  2004     191 non-null    float64
 46  2005     191 non-null    float64
 47  2006     189 non-null    float64
 48  2007     191 non-null    float64
 49  2008     189 non-null    float64
 50  2009     190 non-null    float64
 51  2010     193 non-null    float64
 52  2011     192 non-null    float64
 53  2012     193 non-null    float64
 54  2013     192 non-null    float64
 55  2014     192 non-null    float64
 56  2015     194 non-null    float64
 57  2016     192 non-null    float64
 58  2017     193 non-null    float64
 59  2018     169 non-null    float64
dtypes: float64(59), object(1)
memory usage: 91.1+ KB

         country  1960  1961  1962  1963  ...   2014   2015   2016   2017   2018
0    Afghanistan  0.00   nan   nan   nan  ...  55.20  57.30  61.10  65.90  59.10
1        Albania  0.00   nan   nan   nan  ... 116.00 118.00 117.00 126.00  94.20
2        Algeria  0.00   nan   nan   nan  ... 111.00 109.00 116.00 111.00 112.00
3        Andorra  0.00   nan   nan   nan  ...  83.60  91.40  98.50 104.00 107.00
4         Angola  0.00   nan   nan   nan  ...  52.20  49.80  45.10  44.70  43.10
..           ...   ...   ...   ...   ...  ...    ...    ...    ...    ...    ...
189    Venezuela  0.00   nan   nan   nan  ... 102.00  96.70  92.50  83.30  71.80
190      Vietnam  0.00   nan   nan   nan  ... 148.00 130.00 129.00 127.00 147.00
191        Yemen  0.00   nan   nan   nan  ...  66.20  56.70  60.50  55.20  53.70
192       Zambia  0.00   nan   nan   nan  ...  65.70  72.80  73.40  79.70  89.20
193     Zimbabwe  0.00   nan   nan   nan  ...  86.80  92.30  91.80  99.00  89.40

[194 rows x 60 columns]

comments about df_phon
- up to 2018

 
### Data Cleaning

Merging variables into one large dataframe by country, truncating to years of interest (1996-2014), Getting 3-letter country codes

In [11]:
# Select a year of interest within all dataframes
data_frames = [df_gini, df_incm, df_crbn, df_phon]
cols_to_keep = ["country","2014"]
df_ = pd.DataFrame(columns=cols_to_keep)

for df in data_frames:
    df = df[cols_to_keep]
    df_= pd.merge(df, df, on=[cols_to_keep], how = 'outer')
   # df_.append(df, on=['country'], how='outer')

KeyError: ignored

In [9]:
df_

Empty DataFrame
Columns: [country, 2014]
Index: []

In [ ]:
df_gini_copy = df_gini[cols_to_keep]
df_gini_copy.head()

       country  1996  2014
0  Afghanistan 36.80 36.80
1      Albania 27.50 29.00
2      Algeria 34.90 27.60
3      Andorra 40.00 40.00
4       Angola 52.40 42.60

In [ ]:
# Truncate and Merge dataframes by country
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=[cols_to_keep],
                                            how='outer'), data_frames)

In [ ]:
df_merged

                  country_x  1800_x  1801_x  1802_x  ...   2015   2016   2017   2018
0               Afghanistan    30.5    30.5    30.5  ...    NaN    NaN    NaN    NaN
1                   Albania    38.9    38.9    38.9  ...    NaN    NaN    NaN    NaN
2    Bosnia and Herzegovina    30.0    30.0    30.0  ...    NaN    NaN    NaN    NaN
3                Montenegro    30.2    30.2    30.2  ...    NaN    NaN    NaN    NaN
4                   Algeria    56.2    56.2    56.2  ...    NaN    NaN    NaN    NaN
..                      ...     ...     ...     ...  ...    ...    ...    ...    ...
765                     NaN     NaN     NaN     NaN  ...   70.4   74.0   75.9   71.5
766                     NaN     NaN     NaN     NaN  ...   64.5   78.5   79.9   85.9
767                     NaN     NaN     NaN     NaN  ...   96.7   92.5   83.3   71.8
768                     NaN     NaN     NaN     NaN  ...  130.0  129.0  127.0  147.0
769                     NaN     NaN     NaN     NaN  ...   72.8   73.4   79.7   89.2

[770 rows x 757 columns]

In [ ]:
# Get 3-letter country codes 

list_countries = df_mw['country_name'].unique().tolist()
# print(list_countries) # Uncomment to see list of countries
d_country_code = {}  # To hold the country names and their ISO
for country in list_countries:
    try:
        country_data = pycountry.countries.search_fuzzy(country)
        # country_data is a list of objects of class pycountry.db.Country
        # The first item  ie at index 0 of list is best fit
        # object of class Country have an alpha_3 attribute
        country_code = country_data[0].alpha_3
        d_country_code.update({country: country_code})
    except:
        print('could not add ISO 3 code for ->', country)
        # If could not find country, make ISO code ' '
        d_country_code.update({country: ' '})
        
 # create a new column iso_alpha in the df
# and fill it with appropriate iso 3 code
for k, v in d_country_code.items():
    df_mw.loc[(df_mw.country_name == k), 'iso_alpha'] = v

<a id='eda'></a>
## Exploratory Data Analysis

statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Does the Gini coefficient correlate with X? (in 2014 or in 2000...was it much different?)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])