<a href="https://colab.research.google.com/github/DonnaVakalis/Livability/blob/master/Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minimum Wage in the U.S.A.
---

More notes here later...

## Setup

### Import Libraries

In [11]:
# Imports and global options

import pandas as pd
from matplotlib import pyplot as plt
import zipfile

import plotly.express as px 

# display numbers with two decimal places
pd.options.display.float_format = '{:,.2f}'.format

### Import Data

In [15]:
# import min wage data 
df_min=pd.read_csv("https://danieljwilson.com/datasets/min_wage/min_wage_usa_2020.csv", encoding= 'ISO-8859-1')

# import state codes
df_codes=pd.read_csv("https://danieljwilson.com/datasets/min_wage/USPS_two_letter_state.csv", encoding= 'unicode_escape')

In [16]:
df_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   Wage    51 non-null     float64
 2   lw_10   51 non-null     float64
 3   lw_22   51 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.7+ KB

In [17]:
df_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         59 non-null     object
 1   Abbreviation  59 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB

### Clean/Tidy Data

## Exploration 1

## Exploration 2: